.header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        font-weight: bold;
        flex: 1;
        img{
            max-width: 90px;
            animation: App-logo-spin infinite 20s linear;
        }
    }
    &__nav{
        a{
            font-weight: bold;
            font-size: 18px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }